button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

button:active {
    transform: scale(0.95);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 40px;
    margin: 30px auto;
}

.logo {
    width: 110px;
    height: 100%;
}

.headerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    min-width: 38vw;
}

.headerList a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    line-height: 17px;
}

.headerList a:hover {
    color: #ff00ff;
}
